body {
  color: #333333;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin: 0 20px;
}
h1{
  color:blue;
}
p{
  color:green;
}
.paragraph-1{
  color:blue;
}
.paragraph-2 {
  color: red;
}
#paragraph-3 {
  color: yellow;
}
table{
  width: 50%;
}

.container {
  background-color: #f4f4f5;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline; 
  gap: 16px;
}
@media (max-width: 768px) {
  .container {
    display:grid;
  }
}
.kartu {
  padding: 20px;
  border: 2px solid #ff4f54;
  border-radius: 10px;
  background-color: #f4f4f5;
}